body {
    background-color: #f7f7f7;
}

h5 {
    font-weight: bold;
    color: #f7f7f7;
}

p {
    color: #f7f7f7; 
}

i {
    margin-left: 0.5rem!important;
}

h3 {
    color: #050404;
    margin-bottom: 1rem!important;
}


@media only screen and (max-width: 767px) {
    #chat {
        display: none;
    }
}